.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  font-size: 11px
}

.App-link {
  color: #61dafb;
}

.positive-interest {
  color: #2D81BD;
}

.negative-interest {
  color: #ED412A;
}

.no-interest {
  color: #F2F4F6;
}

.commodities-code {
  color: #F2F4F6;
  opacity: 10;
}

.equities-code {
  color: #64B1E4;
}

.credit-code {
  color: #4DB469;
}

.number-header .ag-header-cell-label {
  justify-content: right;
}